@import 'config';

.form-header {
  text-align: center;
  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  width: auto;
  margin: 40px 0;
  padding: 50px;
}

.form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}
.contact-form {
  background-color: transparent;
  border: 1px solid $secondary-color;
  border-radius: 5px;

  width: auto;
  padding: 50px;
  margin: 0 0 40px 0;
}
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-row input[type='text'],
.form-row input[type='email'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 5px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}
.form-row input[type='text']:invalid,
.form-row input[type='email']:invalid {
  border: 1px solid #D55C5F;
  color: #D55C5F;
  box-shadow: none;
}
.form-row input[type='text']:focus,
.form-row input[type='email']:focus,
.form-row textarea:focus {
  background-color: lighten($color: $secondary-color, $amount: 60);
}
.form-row textarea {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;

  border: 1px solid #D6D9DC;
  border-radius: 5px;

  min-height: 200px;
  margin-bottom: 10px;
  padding: 7px;
  resize: none;
}

.form-row .instructions {
  color: #999999;
  font-size: 14px;
  margin-bottom: 30px;
}

.form-row .checkbox-label {
  margin-bottom: 0;
}

.form-row button {
  font-size: 16px;
  font-weight: bold;
  color: darken($color: $secondary-color, $amount:20);
  background-color: $primary-color;
  border: 3px solid transparent;
  border-radius: 5px;
  padding: 10px 40px;
  cursor: pointer;
  transition: .2s;
}

.form-row button:hover {
  background-color: lighten($color: $primary-color, $amount: 20);
  border: solid 3px darken($color: $secondary-color, $amount:20);
}

.form-row button:active {
  background-color: #407FC7;
}

.social-contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  h2{
    width: 100%;
    text-align: center;
  }
  a{
    text-decoration: none;
    color:grey;
  }
  svg{
    width: 4em;
    height: 4em;
    padding:10px;
    margin:20px;
  }
}
  /*Media queries*/
/* Mobile Styles */
@media only screen and (max-width: 575px) {
  
}

/* Tablet Styles */
@media only screen and (min-width: 576px) {
  .form-header {
    text-align: left;
    padding-left: 120px;
  }
  .form-row {
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  .form-row input[type='text'],
  .form-row input[type='email'],
  .form-row select,
  .form-row textarea {
    width: 280px;
    height: initial;
  }
  .form-row label {
    text-align: right;
    width: 120px;
    margin-top: 7px;
    padding-right: 20px;
  }
  .form-row .instructions {
    margin-left: 120px;
  }
  .form-row .checkbox-label {
    margin-left: 120px;
    width: auto;
  }
  .form-row button {
    margin-left: 120px;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  
}